ALCHEMY_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/YOUR_KEY
RELAYER_PRIVATE_KEY=0xYOUR_RELAYER_WALLET_PRIVATE_KEY
CONTRACT_ADDRESS=0xd4de4f689b50b5d6606523be54b414425c5cb904
ODOO_URL=http://localhost:8069
ODOO_DB=odoo
ODOO_USERNAME=admin
ODOO_PASSWORD=admin